.test {

}

.L002 {
    background: #fc6a7a;
}
.L035 {
    background: #fda26b;
}
.L003 {
    background: #feca80;
}
.L058 {
    background: #b44afc;
}
.L004 {
    background: #fda453;
}
.L027 {
    background: #fc362b;
}