/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/


.fa {
    font-family: 'FontAwesome', fontawesome-webfont;
    font-size: 18;
}

 
.btn {
    font-size: 18;
}

.page {
    background: #252525;
}
.my-button {
    color: #fff;
    background-color: #111111;
    border-radius: 15;
    color: white;
    font-family: FontAwesome;
    font-size: 24;
    vertical-align: middle;

}

.my-button.active {
    background-color: #000;
    color: #fff;
}
